* {
    text-align: center;
    font-family: "Smooch Sans", sans-serif;
}

.content {
    position: relative;
}

.change-name {
    position: absolute;
    max-width: 200px;
    top: 0;
    right: 600px;
    left: 0;
    margin-inline: auto;
}
.change-name form {
    margin-block: 20px;
}
.change-name form fieldset input {
    margin-top: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    max-width: 300px;
    margin: 50px auto;
    font-size: 5rem;
}
.board .top {
    border-top: none;
}
.board .bottom {
    border-bottom: none;
}
.board .left {
    border-left: none;
}
.board .right {
    border-right: none;
}

.cell {
    border: 2px solid black;
}

#reset-game {
    padding: 10px 50px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: rgb(197, 197, 197);
}